@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}

body {
    background-color: #131723;
}
#app {
    height: 100vh;
}
.home,
.news-nav {
    width: 100%;
    height: 100%;
}

.index {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Styling related to Navbar Component */

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    font-size: 25px;
    letter-spacing: 2.5px;
}

.navbar .navbar-nav ul,
.not-logged {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Home component */

.home .news-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* PopularNews component */

.popular-news {
    display: flex;
    flex-direction: column;
}

.popular-news h2,
.recent-news-text h2 {
    font-size: 16px;
    color: #3b3b3b;
}
.popular-news li {
    font-size: 30px;
    padding: 30px 0;
}

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.news h3 {
    min-width: 250px;
    max-width: 470px;
    font-weight: 300;
}
.popular-news ul a:nth-child(2) li {
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}
.news img {
    width: 30px;
    height: auto;
}
/* RecentNews component */
.recent-news {
    margin-right: 50px;
}
.recent-news ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recent-news-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}
.recent-news-body h3 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 25px;
    max-width: 450px;

    line-height: 0.8;
    margin-top: 20px;
    margin-bottom: 7px;
}
.recent-news-body p {
    color: grey;
    max-width: 320px;
}
.recent-news-text {
    z-index: 10;
}
.recent-news-img {
    position: absolute;
    top: -60px;
    right: 0;
}
.recent-news-img img {
    position: relative;
    height: 500px;
    object-fit: fill;
}
.recent-news-img .img-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 10px;
}
.img-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.img-nav p {
    font-size: 16px;
}
.img-nav img {
    width: 25px;
    color: grey;
    height: auto;
    margin-left: 5px;
    margin-top: 3px;
}

/* Article component */
.article {
    margin: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.article-image {
    min-width: 300px;
    padding: 10px;
    height: auto;
    object-fit: cover;
}
.article h2 {
    font-size: 50px;
}
.article .article-content {
    font-size: 25px;
    padding: 50px 0;
}
.article .article-info {
    color: grey;
}
.article div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}
.article-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Browse component */

.browse > h2 {
    margin-top: 40px;
    text-align: center;
}
.browse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 130px;
}
.browse-article {
    display: flex;
    flex-direction: row;
    margin: 35px 32px;
    background-color: #181d2b;
}
.browse-article > img {
    width: 250px;
    height: auto;
}
.browse-article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
    text-align: center;
    padding: 20px 0;
}
.browse-article-info h2 {
    color: white;
    font-weight: 500;
}
.browse-article-info div p {
    font-weight: 400;
}
.browse-article-info .article-content {
    max-width: 900px;
    color: white;
    padding: 10px 0;
}
.browse-article-info a {
    color: #363b3f;
}

.article-category {
    width: 100%;
    padding-top: 10px;
    color: #dd2124;
    font-size: 14px;
}

.browse-article-info div {
    margin: 30px;
}
/* Category component */

:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 2.5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
.category-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.category-search-form {
    margin-top: 15px;
    position: relative;
    width: 15rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}
#search,
.submit-category {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.3rem;
}
#search {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
.submit-category {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}
#search:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
#search:not(:placeholder-shown) + button {
    display: block;
}
.label-category {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.category-main-article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    background-color: #181d2b;
    padding-bottom: 20px;
}
.category-main-article h3 {
    margin: 10px 0;
    text-align: center;
    max-width: 400px;
}
.category-image {
    min-width: 400px;
    height: auto;
}
.fav-img {
    cursor: pointer;
    margin-top: 8px;
    width: 20px;
}

.category-article-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Login component */
.login,
.form-element,
.register {
    display: flex;
    flex-direction: column;
}
.login,
.register {
    padding-top: 110px;
    align-items: center;
}
.login-form,
.register-form {
    padding: 45px;
    border-radius: 7px;
    background-color: white;
}
.login-form input,
.register-form input {
    border: none;
    color: black;
    min-width: 250px;
    padding: 8px 0;
    font-size: 18px;
    border-bottom: 1px solid black;
}
.form-element {
    padding: 10px;
    padding-bottom: 35px;
}
.register-el {
    padding-bottom: 25px;
}
.form-element label {
    font-size: 22px;
    font-weight: 800;
    color: black;
    margin: 10px 0;
}

.login-form-footer,
.register-form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-footer button,
.register-form-footer button {
    color: black;
    border-radius: 7px;
    font-size: 18px;
    padding: 5px 12px;
    background-color: white;
    cursor: pointer;
}
.login-form-footer button:hover,
.register-form-footer button:hover {
    background-color: #1d2641;
    color: white;
    border: 2px solid #1d2641;
}
.form-footer-split {
    width: 100%;
    background-color: #131723;
    margin: 30px 0;
    height: 1px;
}
.login-form-footer a,
.register-form-footer a {
    background-color: #1d2641;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
}
/* Searched Article component */
.container-category h2 {
    margin: 15px;
}
