@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}

body {
    background-color: #131723;
}
#app {
    height: 100vh;
}
.index,
.home,
.news-nav {
    width: 100%;
    height: 100%;
}
.index {
    position: relative;
}
.home {
    margin: 0 auto;
}

/* Styling related to Navbar Component */

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 2.5px;
    position: fixed;
}

.navbar .navbar-nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* Home component */

.home .news-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* PopularNews component */

.popular-news {
    display: flex;
    flex-direction: column;
}

.popular-news h2,
.recent-news-text h2 {
    font-size: 16px;
    color: #3b3b3b;
}
.popular-news li {
    font-size: 30px;
    padding: 30px 0;
}

.popular-news ul a li:nth-child(2) {
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}
.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.news h3 {
    min-width: 250px;
    font-weight: 300;
}
.news img {
    width: 30px;
    height: auto;
}
/* RecentNews component */
.recent-news {
    margin-right: 50px;
}
.recent-news ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recent-news-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}
.recent-news-body h3 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 25px;
    max-width: 450px;

    line-height: 0.8;
    margin-top: 20px;
    margin-bottom: 7px;
}
.recent-news-body p {
    color: grey;
    max-width: 320px;
}
.recent-news-text {
    z-index: 10;
}
.recent-news-img {
    position: absolute;
    top: -60px;
    right: 0;
}
.recent-news-img img {
    position: relative;
    height: 500px;
    object-fit: fill;
}
.recent-news-img .img-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 10px;
}
.img-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.img-nav p {
    font-size: 16px;
}
.img-nav img {
    width: 25px;
    color: grey;
    height: auto;
    margin-left: 5px;
    margin-top: 3px;
}

/* Article component */
.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.article img {
    min-width: 300px;
    padding: 10px;
    height: auto;
    object-fit: cover;
}
.article h2 {
    font-size: 50px;
}
.article .article-content {
    max-width: 800px;
    font-size: 25px;
    padding: 50px 0;
}
.article .article-info {
    color: grey;
}
.article div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

/* Browse component */

.browse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 130px;
}

.browse-container img {
    width: 400px;
    height: 225px;
    object-fit: cover;
}
.browse-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 32px;
    background-color: #181d2b;
}
.browse-article-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    text-align: center;
    padding: 20px 0;
}
.browse-article-info div {
    height: 100%;
}
.browse-article-info h2 {
    color: white;
    font-weight: 500;
}
.browse-article-info .article-content {
    max-width: 800px;
    color: white;
    padding: 10px 0;
}
.browse-article-info a {
    color: #363b3f;
}

.article-category {
    width: 100%;
    padding-top: 10px;
    color: #dd2124;
    font-size: 14px;
}
